<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="gestores" routerLinkActive="active" class="nav-link">Lista de Gestores</a>
        </li>
        <li class="nav-item">
            <a routerLink="nuevo-gestor" routerLinkActive="active" class="nav-link">Nuevo Gestor</a>
        </li>
        <li class="nav-item">
            <a routerLink="clientes" routerLinkActive="active" class="nav-link">Lista de Clientes</a>
        </li>
        <li class="nav-item">
            <a routerLink="nuevo-cliente" routerLinkActive="active" class="nav-link">Nuevo Cliente</a>
        </li>
        <li class="nav-item">
            <a routerLink="transferencias" routerLinkActive="active" class="nav-link">Lista de Transferencias</a>
        </li>
        <li class="nav-item">
            <a routerLink="nueva-transferencia" routerLinkActive="active" class="nav-link">Nueva Transferencia</a>
        </li>
        <li class="nav-item">
            <a routerLink="mensajes" routerLinkActive="active" class="nav-link">Lista de Mensajes</a>
        </li>
        <li class="nav-item">
            <a routerLink="nuevo-mensaje" routerLinkActive="active" class="nav-link">Nuevo Mensaje</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>